html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  color: #95989A; }

h4, .sub-title, .title {
  color: #FF924E;
  text-align: center; }

h1 {
  font-size: 32px;
  font-weight: bold; }

h3 {
  font-size: 40px;
  font-weight: bold; }

h4 {
  font-size: 24px;
  font-weight: bold; }

h5 {
  font-size: 20px; }

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("./src/images/hero.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.name-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 70px;
  padding-left: 70px;
  color: white; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.nav-links {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.nav-links a {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none; }

.nav-links a:hover {
  color: #FF924E;
  text-decoration: none; }

.scroll-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 18px;
  text-align: center;
  color: white;
  padding-bottom: 40px; }

#skills, #about {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title {
  padding-top: 20px;
  padding-bottom: 20px; }

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.matik {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("./src/images/fx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
  position: relative; }

.softspot {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("./src/images/spm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
  position: relative; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.content a {
  max-width: 70%;
  min-width: 50%; }

.content img {
  width: 100%;
  max-height: 100vh; }

#narnia {
  width: 100%;
  height: 100vh;
  background-image: url("./src/images/narniabg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.description {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

.description p {
  color: white; }

.screenshot img {
  max-height: 80vh;
  /*max-width: 1000px;*/
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  border-radius: 10px; }

#fridgepedia {
  width: 100%;
  height: 100vh;
  background-image: url("./src/images/fridgepediabg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

#moneyio {
  width: 100%;
  height: 100vh;
  background-image: url("./src/images/moneyiobg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
